.game-wrapper{
    position:relative;
}
    
@media(max-width:1024px){
    .game-wrapper{
        height:0;
        padding-bottom:58.59%;
    }
    .game-wrapper iframe{
        width:100%; height:100%; position:absolute;
    }
}

#wpcf7-f1610-p5503-o1,#la_heading_5c1521c5b700b{
    max-width:1200px;
    padding:40px;
    margin:0 auto;
}

#share-window{
    position: absolute;
    text-align: center;
    width: 100%;
    height:100%;
    top:0; left:0;
    display:none;
}


.addthis_inline_share_toolbox{
    position:absolute;
    opacity:0;
    top:50%;
    left:50%;
    transform: translateX(-50%) translateY(-50%);
    -webkit-transform: translateX(-50%) translateY(-50%);
}

.game-over .addthis_inline_share_toolbox {
    opacity: 1;
}

body.game-over #share-window{
    display:block;
}