<script>
    var opensharewindow = function(){
    document.body.className += ' ' + 'game-over';
    }
</script>
<div class="game-wrapper">
    <iframe width="100%" height="600px" src="/grab-a-meal/index.html" style="border:none"></iframe>
    <div id="share-window">
        <div class="addthis_inline_share_toolbox"></div>
    </div>
</div>
<script>
    var addthis_config = addthis_config||{};

    addthis_config.ui_email_note = 'Check this out!';
    addthis_config.ui_email_from = 'noreply@luckeyou.com';

    var addthis_share = { 
        email_vars: { 
            image:"http://luckeyou.com/grab-a-meal/assets/images/thumbnail_land.jpg",
            description: "This holiday season the crew at Luckeyou is on a quest to provide 20,000 meals to families in need and we need your help! Please play our Grab A Meal Give A Meal Game and for every meal you grab we’ll donate a meal on your behalf through the Feeding America network." 
        }
    }
</script>
<script type="text/javascript" src="//s7.addthis.com/js/300/addthis_widget.js#pubid=ra-5c15477d2928a4b4"></script>
``